## for_format_list

In [3]:
s = '{} {} {}'
pr = s.format('진상', '승훈', '형주')
print(pr)

진상 승훈 형주

In [6]:
s = '{}이는 {}번이고 {}대학에 갔어'
pr = s.format('진상', 30201, '인하')
print(pr)

진상이는 30201번이고 인하대학에 갔어

### [문제]햄버거 1개는 4달라

In [8]:
s = '{} {}개는 {}달라'
pr = s.format('햄버거', 1, 4)
print(pr)

햄버거 1개는 4달라

In [9]:
food = '햄버거'
num = 2
price = num*4
s = '{} {}개는 {}달라'
pr = s.format(food, num, price)
print(pr)

햄버거 2개는 8달라

In [11]:
food = input('메뉴입력 >>')
num = int(input('개수입력 >>'))
price = num*4
s = '{} {}개는 {}달라'
pr = s.format(food, num, price)
print(pr)

메뉴입력 >>밥
개수입력 >>4
밥 4개는 16달라

In [29]:
menu = list(map(int,input('햄버거 개수와 가격 >>').split()))

햄버거 개수와 가격 >>10 5

In [30]:
type(menu)

list

In [31]:
menu[0], menu[1]

(10, 5)

In [33]:


price = menu[0] * menu[1]
s = '햄버거 {}개는 {}달라'
pr = s.format(menu[0], price)
print(pr)

햄버거 10개는 50달라

In [36]:
stu = '%s %d학년 %.2f'
pr = stu%('인천여상', 3, 32.123)
print(pr)

인천여상 3학년 32.12

In [38]:
juso = '   인천시 연수구 동춘동     '

In [41]:
type(juso), len(juso)

(str, 19)

In [47]:
add = juso.strip()

In [45]:
juso

'   인천시 연수구 동춘동     '

In [49]:
add

'인천시 연수구 동춘동'

In [51]:
add, len(add)

('인천시 연수구 동춘동', 11)

In [53]:
add.split()

['인천시', '연수구', '동춘동']

In [55]:
add.startswith('인천')

True

In [58]:
add.endswith('동춘동')

True

In [59]:
num = 10
if num ==10 : 
    print('숫자는 10')
else:
    print('숫자는 10이 아니다')

숫자는 10

In [61]:
num = 10
if num %2==0 : 
    print('짝수')
else:
    print('홀수')

짝수

### [문제]입력을 받아서 짝수(펭수)인지 홀수(워크맨)인지 알려줌
- 입력을 받는다
- 정수로 바꾼다
- if문으로 짝수인지 확인
- 출력

In [ ]:
num = int(input('숫자 입력 >>'))

if num %2==0 : 
    print('펭수')
else:
    print('워크맨')

In [1]:
for i in range(20, 31) :
    print(i)

20
21
22
23
24
25
26
27
28
29
30

In [6]:
sum=0
for i in range(20, 31) :
    if i%2 !=0 :
        sum += i
    print(i)
    print('합계 :',sum)

20
합계 : 0
21
합계 : 21
22
합계 : 21
23
합계 : 44
24
합계 : 44
25
합계 : 69
26
합계 : 69
27
합계 : 96
28
합계 : 96
29
합계 : 125
30
합계 : 125

### [문제 만들기]
- for if

In [9]:
for i in range(0,100) :
    if i%3==0 :
        print(i)

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99